[submodule "libraries/crypto"]
	path = libraries/crypto
	url = https://github.com/koinos/koinos-crypto-cpp
[submodule "libraries/exception"]
	path = libraries/exception
	url = https://github.com/koinos/koinos-exception-cpp
[submodule "libraries/log"]
	path = libraries/log
	url = https://github.com/koinos/koinos-log-cpp
[submodule "libraries/mq"]
	path = libraries/mq
	url = https://github.com/koinos/koinos-mq-cpp
[submodule "libraries/util"]
	path = libraries/util
	url = https://github.com/koinos/koinos-util-cpp
[submodule "libraries/proto"]
	path = libraries/proto
	url = https://github.com/koinos/koinos-proto-cpp
